{% load static %}

<!-- Footer starts here -->

<footer id="footer">

	<div class="contact">
		<h3>Contact</h3>
		<ul>
			<li><span>Mobile: </span>+234-8062468296</li>
			<li><span>Email: </span>leadleapconsult@gmail.com, 
			</span>admin@leadleapconsult.com</li>
		</ul>
	</div>

	<div class="copyright">
		<p>Copyright|Lead-leap consulting © {%  now "Y" %}</p>
	</div>

	<div class="icons">
		<img src="{% static "img/facebook.png" %}" alt="facebook">
		<img src="{% static "img/twitter.png" %}" alt="twitter">
		<a target="blank" href="https://www.linkedin.com/in/akerele-oluwasogo-glmp-mr-excel-11066710b"><img src="{% static "img/linkdin.png" %}" alt="linkdin"></a>
		<img src="{% static "img/instagram.png" %}" alt="instagram">
		<a target="blank" href="https://youtube.com/channel/UC1jyGuqYEA9CUpKLp89MUxw"><img src="{% static "img/youtube.png" %}" alt="linkdin"></a>
	</div>

</footer>

<!-- Footer ends here -->